
body.dark {
  margin: 0;
  background: #202c37;
  color: #ffffff;
}

.box {
  height: 80px;
  padding:  40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100%;
  background-color: #202c37;
  
}

.mode {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.container {
  padding: 40px;
}

.search {
  width: 300px;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  background: #2b3945;
  color: #fff;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 40px;
}

.card {
  background: #2b3945;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.card p {
  padding: 15px;
  font-weight: bold;
}

